/*! Variáveis CSS ────────────────────────────────────────────────────────────────────────── */
:root {
    --verde-vibrante: #10B16B;
    --verde-cinza-leve: #dbdddd;
}

.color-1 {
    background-color: var(--verde-vibrante);
}
.color-2 {
    background-color: var(--verde-cinza-leve);
}

/*! Estilos Globais ────────────────────────────────────────────────────────────────────────── */
* {
    font-family: 'Inter', sans-serif;
}

/*! Classes Reutilizáveis ────────────────────────────────────────────────────────────────────────── */
/*tamanho de fonte 1*/
.ft-1 {
    font-size: 18px;
}

/*tamanho de fonte 2*/
.ft-2 {
    font-size: 14px;
}

/*sombra de fonte 1*/
.shd-t-1 {
    text-shadow: 0 0 20px #000000c7;
}

/*! Classes Estáticas ────────────────────────────────────────────────────────────────────────── */

/*? NavBar ────────────────────────────────────── */
/** ícone do blogline */
.icone-pagina {
    transition: 0.3s;
}
.icone-pagina:hover {
    transform: translateX(5px);
}

/** título da navbar */
.titulo-nav {
    transition: 0.2s;
}
.titulo-nav:hover {
    transform: translateY(2px);
}

/** barra de pesquisa */
#barraPesquisa {
    border-radius: 1rem;
    border: 1px solid #ececec;
    padding: 0.3rem;
    background-color: white;
    
    /* transição suave */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}
#barraPesquisa.show {
    opacity: 1;
    visibility: visible;
}

#botaoPesquisa:hover {
    color: #196c3c
}

/** botão de inscrição da navbar */
.botao-inscricao {
    transition: 0.2s;
}
.botao-inscricao:hover {
    box-shadow: 0 5px 0 #82cbac;
}

/*? Seção de Destaque ────────────────────────────────────── */
/** imagem de destaque */
.img-destaque {
    height: 45vw; 
    object-fit: cover;
}

/*? Postagens - primeira página - linha inferior de 3 postagens ────────────────────────────────────── */
/** imagem das postagens */
.img-post {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    object-fit: cover;
}

/*! Modificando Bootstrap ────────────────────────────────────────────────────────────────────────── */
/** efeito hover nos links da navbar */
.navbar-nav .nav-link{
    transition: 0.2s;
}
.navbar-nav .nav-link:hover {
    color: var(--verde-vibrante) !important;
}

/** cor principal nos links das tabs */
.nav-pills .active {
    transition: 0.2s;
    background-color: white !important;
    color: var(--bs-success) !important;
}

/** raio da borda dos botões das tabs */
.nav-pills .nav-link {
    border-radius: 0;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}